.sanddance-app-static-content {
  display: none;
}

.sanddance-app {
  display: grid;
  grid-template-rows: 100% 0;
  height: 100%;
}

.sanddance-export .ms-Button {
  margin-bottom: 1em;
  margin-top: 0.5em;
}

.sanddance-datasource-picker {
  width: 100%;
}

/*.range {
    margin-bottom: 5px;
    border-top: 1px dashed #888;
}

.range-slider {
  position: relative;
  background-color: #e1e9f6;
  height: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.range-slider .range-selected {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #007bff;
  z-index: -1;
}

.range-slider input[type="range"] {
  -webkit-appearance: none;
  background-color: transparent;
  margin: 0;
  padding: 0;
  width: 100%;
  position: absolute;
  z-index: 1;
}

.range-slider input[type="range"]:focus {
  outline: none;
}

.range-slider input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background-color: #007bff;
  border: none;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  margin-top: -5px;
  z-index: 2;
}

.range-slider input[type="range"].min::-webkit-slider-thumb {
  margin-left: 0px;
}

.range-slider input[type="range"].max::-webkit-slider-thumb {
  margin-left: 0px;
}

.range-input {
  display: flex;
  justify-content: space-between;
}

.range-input input[type="number"] {
  width: 50%;
  margin: 0 10px;
  text-align: center;
}*/
.range-slider.flat {
  --thumb-size: 25px;
  --track-height: calc(var(--thumb-size) / 3);
  --progress-shadow: none;
  --progress-flll-shadow: none;
  --thumb-shadow: 0 0 0 7px var(--primary-color) inset, 0 0 0 99px white inset;
  --thumb-shadow-hover: 0 0 0 9px var(--primary-color) inset,
    0 0 0 99px white inset;
  --thumb-shadow-active: 0 0 0 13px var(--primary-color) inset;
}

.range-slider {
  --primary-color: #0366d6;
  --value-offset-y: var(--ticks-gap);
  --value-active-color: white;
  --value-background: transparent;
  --value-background-hover: var(--primary-color);
  --value-font: 700 12px/1 Arial;
  --fill-color: var(--primary-color);
  --progress-background: #eee;
  --progress-radius: 20px;
  --track-height: calc(var(--thumb-size) / 2);
  --min-max-font: 12px Arial;
  --min-max-opacity: 0.5;
  --min-max-x-offset: 10%;
  --thumb-size: 22px;
  --thumb-color: white;
  --thumb-shadow: 0 0 3px rgba(0, 0, 0, 0.4), 0 0 1px rgba(0, 0, 0, 0.5) inset,
    0 0 0 99px var(--thumb-color) inset;
  --thumb-shadow-active: 0 0 0 calc(var(--thumb-size) / 4) inset
      var(--thumb-color),
    0 0 0 99px var(--primary-color) inset, 0 0 3px rgba(0, 0, 0, 0.4);
  --thumb-shadow-hover: var(--thumb-shadow);
  --ticks-thickness: 1px;
  --ticks-height: 5px;
  --ticks-gap: var(
    --ticks-height,
    0
  );
  --ticks-color: silver;
  --step: 1;
  --ticks-count: Calc(var(--max) - var(--min)) / var(--step);
  --maxTicksAllowed: 30;
  --too-many-ticks: Min(1, Max(var(--ticks-count) - var(--maxTicksAllowed), 0));
  --x-step: Max(
    var(--step),
    var(--too-many-ticks) * (var(--max) - var(--min))
  );
  --tickInterval: 100/ ((var(--max) - var(--min)) / var(--step)) * var(--tickEvery, 1);
  --tickIntervalPerc: calc(
    (100% - var(--thumb-size)) / ((var(--max) - var(--min)) / var(--x-step)) *
      var(--tickEvery, 1)
  );
  --value-a: Clamp(
    var(--min),
    var(--value, 0),
    var(--max)
  );
  --value-b: var(--value, 0);
  --text-value-a: var(--text-value, "");
  --completed-a: calc(
    (var(--value-a) - var(--min)) / (var(--max) - var(--min)) * 100
  );
  --completed-b: calc(
    (var(--value-b) - var(--min)) / (var(--max) - var(--min)) * 100
  );
  --ca: Min(var(--completed-a), var(--completed-b));
  --cb: Max(var(--completed-a), var(--completed-b));
  --thumbs-too-close: Clamp(
    -1,
    1000 * (Min(1, Max(var(--cb) - var(--ca) - 5, -1)) + 0.001),
    1
  );
  --thumb-close-to-min: Min(1, Max(var(--ca) - 2, 0));
  --thumb-close-to-max: Min(1, Max(98 - var(--cb), 0));
  display: inline-block;
  height: max(var(--track-height), var(--thumb-size));
  background: linear-gradient(to right, var(--ticks-color) var(--ticks-thickness), transparent 1px) repeat-x;
  background-size: var(--tickIntervalPerc) var(--ticks-height);
  background-position-x: calc( var(--thumb-size) / 2 - var(--ticks-thickness) / 2 );
  background-position-y: var(--flip-y, bottom);
  padding-bottom: var(--flip-y, var(--ticks-gap));
  padding-top: calc(var(--flip-y) * var(--ticks-gap));
  position: relative;
  z-index: 1;
}
.range-slider[data-ticks-position=top] {
  --flip-y: 1;
}
.range-slider::before, .range-slider::after {
  --offset: calc(var(--thumb-size) / 2);
  content: counter(x);
  display: var(--show-min-max, block);
  font: var(--min-max-font);
  position: absolute;
  bottom: var(--flip-y, -2.5ch);
  top: calc(-2.5ch * var(--flip-y));
  opacity: clamp(0, var(--at-edge), var(--min-max-opacity));
  transform: translateX(calc(var(--min-max-x-offset) * var(--before, -1) * -1)) scale(var(--at-edge));
  pointer-events: none;
}
.range-slider::before {
  --before: 1;
  --at-edge: var(--thumb-close-to-min);
  counter-reset: x var(--min);
  left: var(--offset);
}
.range-slider::after {
  --at-edge: var(--thumb-close-to-max);
  counter-reset: x var(--max);
  right: var(--offset);
}
.range-slider__values {
  position: relative;
  top: 50%;
  line-height: 0;
  text-align: justify;
  width: 100%;
  pointer-events: none;
  margin: 0 auto;
  z-index: 5;
}
.range-slider__values::after {
  content: "";
  width: 100%;
  display: inline-block;
  height: 0;
  background: red;
}
.range-slider__progress {
  --start-end: calc(var(--thumb-size) / 2);
  --clip-end: calc(100% - (var(--cb)) * 1%);
  --clip-start: calc(var(--ca) * 1%);
  --clip: inset(-20px var(--clip-end) -20px var(--clip-start));
  position: absolute;
  left: var(--start-end);
  right: var(--start-end);
  top: calc( var(--ticks-gap) * var(--flip-y, 0) + var(--thumb-size) / 2 - var(--track-height) / 2 );
  height: calc(var(--track-height));
  background: var(--progress-background, #eee);
  pointer-events: none;
  z-index: -1;
  border-radius: var(--progress-radius);
}
.range-slider__progress::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  -webkit-clip-path: var(--clip);
          clip-path: var(--clip);
  top: 0;
  bottom: 0;
  background: var(--fill-color, black);
  box-shadow: var(--progress-flll-shadow);
  z-index: 1;
  border-radius: inherit;
}
.range-slider__progress::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: var(--progress-shadow);
  pointer-events: none;
  border-radius: inherit;
}
.range-slider > input {
  -webkit-appearance: none;
  width: 100%;
  height: var(--thumb-size);
  margin: 0;
  position: absolute;
  left: 0;
  top: calc( 50% - Max(var(--track-height), var(--thumb-size)) / 2 + calc(var(--ticks-gap) / 2 * var(--flip-y, -1)) );
  cursor: -webkit-grab;
  cursor: grab;
  outline: none;
  background: none;
}
.range-slider > input:not(:only-of-type) {
  pointer-events: none;
}
.range-slider > input::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  height: var(--thumb-size);
  width: var(--thumb-size);
  transform: var(--thumb-transform);
  border-radius: var(--thumb-radius, 50%);
  background: var(--thumb-color);
  box-shadow: var(--thumb-shadow);
  border: none;
  pointer-events: auto;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}
.range-slider > input::-moz-range-thumb {
  -moz-appearance: none;
       appearance: none;
  height: var(--thumb-size);
  width: var(--thumb-size);
  transform: var(--thumb-transform);
  border-radius: var(--thumb-radius, 50%);
  background: var(--thumb-color);
  box-shadow: var(--thumb-shadow);
  border: none;
  pointer-events: auto;
  -moz-transition: 0.1s;
  transition: 0.1s;
}
.range-slider > input::-ms-thumb {
  appearance: none;
  height: var(--thumb-size);
  width: var(--thumb-size);
  transform: var(--thumb-transform);
  border-radius: var(--thumb-radius, 50%);
  background: var(--thumb-color);
  box-shadow: var(--thumb-shadow);
  border: none;
  pointer-events: auto;
  -ms-transition: 0.1s;
  transition: 0.1s;
}
.range-slider > input:hover {
  --thumb-shadow: var(--thumb-shadow-hover);
}
.range-slider > input:hover + output {
  --value-background: var(--value-background-hover);
  --y-offset: -5px;
  color: var(--value-active-color);
  box-shadow: 0 0 0 3px var(--value-background);
}
.range-slider > input:active {
  --thumb-shadow: var(--thumb-shadow-active);
  cursor: -webkit-grabbing;
  cursor: grabbing;
  z-index: 2;
}
.range-slider > input:active + output {
  transition: 0s;
}
.range-slider > input:nth-of-type(1) {
  --is-left-most: Clamp(0, (var(--value-a) - var(--value-b)) * 99999, 1);
}
.range-slider > input:nth-of-type(1) + output {
  --value: var(--value-a);
  --x-offset: calc(var(--completed-a) * -1%);
}
.range-slider > input:nth-of-type(1) + output:not(:only-of-type) {
  --flip: calc(var(--thumbs-too-close) * -1);
}
.range-slider > input:nth-of-type(1) + output::after {
  content: var(--prefix, "") var(--text-value-a) var(--suffix, "");
}
.range-slider > input:nth-of-type(2) {
  --is-left-most: Clamp(0, (var(--value-b) - var(--value-a)) * 99999, 1);
}
.range-slider > input:nth-of-type(2) + output {
  --value: var(--value-b);
}
.range-slider > input:only-of-type ~ .range-slider__progress {
  --clip-start: 0;
}
.range-slider > input + output {
  --flip: -1;
  --x-offset: calc(var(--completed-b) * -1%);
  --pos: calc(
    ((var(--value) - var(--min)) / (var(--max) - var(--min))) * 100%
  );
  pointer-events: none;
  position: absolute;
  z-index: 5;
  background: var(--value-background);
  border-radius: 10px;
  padding: 2px 4px;
  left: var(--pos);
  transform: translate(var(--x-offset), calc( 150% * var(--flip) - (var(--y-offset, 0px) + var(--value-offset-y)) * var(--flip) ));
  transition: all 0.12s ease-out, left 0s;
}
.range-slider > input + output::after {
  content: var(--prefix, "") var(--text-value-b) var(--suffix, "");
  font: var(--value-font);
}

.range-slider,
label[dir=rtl] .range-slider {
  width: clamp(300px, 50vw, 800px);
  min-width: 200px;
}

.sanddance-root {
  height: 100%;
  position: relative;
  width: 100%;
}

.sanddance-gl {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.sanddance-gl.show-center {
  background: linear-gradient(to right, transparent 49.9%, rgba(255, 0, 0, 0.7), transparent 50.1%), linear-gradient(to bottom, transparent 49.9%, rgba(255, 0, 0, 0.7), transparent 50.1%);
}

.sanddance-panel {
  position: absolute;
  top: 1em;
  right: 1em;
  bottom: 1em;
  background: #fff;
  box-shadow: 8px 8px 12px -6px #ccc;
  border: 1px solid #ccc;
  overflow-y: scroll;
  padding-bottom: 1em;
  padding-left: 1em;
}

.sanddance-legend table {
  border-collapse: collapse;
}

.sanddance-legend th {
  word-break: break-word;
  max-width: 11em;
}

.sanddance-legend .legend-row {
  cursor: pointer;
}

.sanddance-legend .legend-row td {
  padding: 2px;
}

.sanddance-legend .legend-row:hover {
  background-color: #efefef;
}

.sanddance-legend .symbol div {
  border-style: outset;
  border-width: 1.5px;
}

.sanddance-legend .label {
  max-width: 9em;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.sanddance-details {
  font-size: smaller;
}

.sanddance-details-scroll {
  padding-bottom: 1em;
}

.sanddance-tooltip {
  z-index: 1;
}

.sanddance-tooltip table {
  background: #333;
  color: #fff;
  font-size: smaller;
  margin: 1em;
  min-width: 16em;
  padding: 6px;
  position: absolute;
}

.sanddance-tooltip td {
  max-width: 16em;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  vertical-align: top;
  width: 75%;
}

.sanddance-tooltip td:first-child {
  width: 25%;
}

/*# sourceMappingURL=sanddance.css.map */
/*# sourceMappingURL=sanddance-react.css.map */
.sanddance-scheme.disabled {
  filter: grayscale(95%);
}

.sanddance-scheme.option {
  display: grid;
  grid-template-columns: 10em auto;
  width: 100%;
}

.sanddance-scheme.title {
  justify-content: flex-start;
}

.sanddance-scheme span {
  align-self: center;
}

.sanddance-scheme svg, .sanddance-scheme .swatch {
  align-self: center;
  border: thin solid #777;
  height: 24px;
}

.sanddance-scheme svg {
  width: 100%;
}

.sanddance-scheme .swatch div {
  display: inline-block;
  width: 10px;
  height: 24px;
}

.sanddance-explorer-topbar {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  display: grid;
  grid-template-columns: 300px auto;
  height: 36px;
}

.sanddance-explorer-topbar .logo {
  color: #0078d4;
  display: grid;
  grid-template-columns: 50px auto;
  padding: 6px 0;
}

.sanddance-explorer-topbar .logo svg {
  fill: #0078d4;
  height: 24px;
  margin: 0 auto;
  width: 24px;
}

.sanddance-explorer-topbar .logo a {
  color: inherit;
  font-size: 14px;
  font-weight: bold;
  line-height: 24px;
  text-decoration: none;
}

.sanddance-explorer-commandbar {
  position: relative;
}

.sanddance-explorer-commandbar > div {
  left: 0;
  position: absolute;
  right: 0;
}

.sanddance-explorer-commandbar .ms-CommandBar {
  height: 36px;
}

.dark-theme .sanddance-explorer-topbar {
  background-color: #000;
}

.dark-theme .sanddance-explorer-topbar .logo {
  color: #00b4f0;
}

.sanddance-group {
  border-top: 1px solid #ccc;
  padding-bottom: 1.5em;
  position: relative;
}

.sanddance-group .group-head {
  display: grid;
  grid-template-columns: auto auto;
  line-height: 16px;
  margin: 1em 0;
}

.sanddance-group .group-head label {
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 3px;
  opacity: 0.8;
  text-transform: uppercase;
}

.sanddance-group .group-head .count {
  color: #333;
  font-size: 12px;
  text-align: right;
}

.sanddance-group .group-icon {
  position: absolute;
  top: -1px;
  right: 0;
}

.sanddance-group:first-child {
  border-top: none;
}

.sanddance-group:first-child .group-head {
  margin-top: 0;
}

.sanddance-group:last-child {
  padding-bottom: 0;
}

.sanddance-sidebar {
  background-color: #f9f9f9;
  display: grid;
  overflow: hidden;
  position: relative;
  transition: width 350ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 300px;
}

.sanddance-sidebar:not(.pinned) {
  bottom: 0;
  position: absolute;
  top: 0;
}

.sanddance-sidebar .sidebar-content {
  background-color: inherit;
  display: grid;
  grid-template-areas: "stats stats" "tabs bar";
  grid-template-columns: 50px auto;
  grid-template-rows: 0fr auto;
  height: 100%;
  overflow: hidden;
  position: absolute;
  z-index: 1;
}

.sanddance-sidebar .vbuttons {
  background-color: rgba(0, 0, 0, 0.1);
  display: grid;
  grid-area: tabs;
  grid-template-rows: auto 0fr;
  position: relative;
}

.sanddance-sidebar .vbutton {
  align-self: center;
  display: grid;
  height: 60px;
}

.sanddance-sidebar .vbutton.selected {
  background-color: #f9f9f9;
}

.sanddance-sidebar .vbutton button {
  height: 100%;
  width: 100%;
}

.sanddance-sidebar .vbutton button .ms-Button-icon {
  font-size: 24px;
}

.sanddance-sidebar .sidebar-dialogs .vbutton {
  height: 16%;
  max-height: 60px;
  min-height: 32px;
}

.sanddance-sidebar .scrollable-container {
  width: 250px;
}

.sanddance-sidebar .sidetab {
  grid-area: bar;
  padding: 12px;
}

.sanddance-sidebar.closed {
  width: 50px;
}

.sanddance-sidebar.calculator .calculating {
  background: rgba(249, 249, 249, 0.5);
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}

.sanddance-sidebar.calculator .ms-Spinner {
  margin-top: -16px;
  position: relative;
  top: 50%;
}

.dark-theme .sanddance-sidebar {
  background-color: #272727;
  color: #fff;
}

.dark-theme .sanddance-sidebar .vbuttons {
  background-color: rgba(0, 0, 0, 0.4);
}

.dark-theme .sanddance-sidebar .vbutton.selected {
  background-color: #272727;
}

.dark-theme .sanddance-sidebar.calculator .calculating {
  background: rgba(39, 39, 39, 0.5);
}

.sanddance-chart-type .ms-ChoiceFieldGroup-flexContainer {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-auto-flow: column;
  grid-template-rows: repeat(4, auto);
}

.sanddance-datascope {
  grid-area: stats;
  background-color: rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  min-height: 5em;
}

.sanddance-datascope.extended > div {
  margin: 12px;
  width: 276px;
}

.sanddance-datascope label {
  display: block;
  font-size: 10px;
  text-transform: uppercase;
}

.sanddance-datascope.compact {
  align-self: center;
  cursor: pointer;
  display: grid;
  text-align: center;
  width: 50px;
}

.sanddance-datascope.compact > div {
  align-self: center;
}

.sanddance-datascope .datascope-button {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  height: 36px;
  min-width: unset;
  width: 33.333%;
}

.sanddance-datascope .datascope-button:hover {
  background-color: #0078d4;
  color: #fff;
}

.sanddance-datascope .datascope-button label {
  cursor: inherit;
}

.sanddance-datascope.active .datascope-button.selected {
  border-color: #0078d4;
}

.dark-theme .sanddance-datascope {
  background-color: rgba(0, 0, 0, 0.3);
  border-bottom-color: rgba(255, 255, 255, 0.1);
}

.dark-theme .sanddance-datascope .datascope-button {
  background-color: #000;
  border-color: rgba(255, 255, 255, 0.2);
  color: #fff;
}

.dark-theme .sanddance-datascope .datascope-button:hover {
  background-color: #0078d4;
  color: #fff;
}

.sanddance-dataItem {
  background-color: #fff;
  border: 1px solid #ddd;
}

.sanddance-dataItem .name-value {
  border-top: 1px solid #ddd;
  cursor: pointer;
  padding: 4px;
  position: relative;
  word-break: break-all;
}

.sanddance-dataItem .name-value:hover {
  background-color: #0078d4;
  color: #fff;
}

.sanddance-dataItem .name-value:first-child {
  border-top: none;
}

.sanddance-dataItem .column-name {
  font-weight: 500;
}

.sanddance-dataItem .column-value {
  max-height: 20em;
  overflow: auto;
}

.sanddance-dataItem .bing-search {
  text-align: right;
}

.dark-theme .sanddance-dataItem {
  background-color: #000;
  border-color: #222;
}

.dark-theme .sanddance-dataItem .name-value {
  border-top-color: #222;
}

.dark-theme .sanddance-dataItem a {
  color: #00b4f0;
}

.sanddance-dataIndex .index {
  display: grid;
  grid-template-columns: 32px auto 32px;
  line-height: 32px;
  margin: 0px -8px 6px -8px;
  text-align: center;
}

.sanddance-dataIndex .item-filtered {
  background-color: rgba(0, 0, 0, 0.1);
  font-size: 10px;
  padding: 2px 4px;
  text-transform: uppercase;
}

.sanddance-dataIndex .ms-Dropdown-container {
  margin-bottom: 0.5em;
}

.scrollable-container {
  display: grid;
  min-height: 200px;
  position: relative;
}

.scrollable {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  overflow-y: auto;
  top: 0;
}

.sanddance-search .sanddance-search-group {
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.sanddance-search .sanddance-search-group {
  background: #fff;
  margin-top: 1em;
  padding: 4px;
}

.sanddance-search .sanddance-search-group:first-child {
  margin-top: 0;
}

.sanddance-search .sanddance-search-expression {
  background-color: rgba(0, 0, 0, 0.1);
  margin: 12px 4px;
  padding: 4px 8px 8px 8px;
}

.sanddance-search .search-action {
  width: 100%;
}

.sanddance-search .search-bottom-action {
  margin-top: 1em;
}

.sanddance-search .search-field {
  margin-top: 4px;
}

.dark-theme .sanddance-search .sanddance-search-group {
  border-color: rgba(255, 255, 255, 0.2);
  background: #000;
}

.dark-theme .sanddance-search .sanddance-search-expression {
  background-color: rgba(255, 255, 255, 0.2);
}

.sanddance-snapshots .ms-Button {
  margin-bottom: 0.5em;
}

.sanddance-snapshots .snapshot {
  border: 1px solid rgba(0, 0, 0, 0.2);
  cursor: pointer;
  margin-bottom: 0.5em;
  padding: 5px;
}

.sanddance-snapshots .snapshot.selected {
  border-color: rgba(0, 0, 0, 0.6);
  border-width: 2px;
  padding: 4px;
}

.sanddance-snapshots .snapshot:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.sanddance-snapshots .snapshot:first-child {
  margin-top: 0.5em;
}

.sanddance-snapshots .title {
  font-weight: 500;
  word-break: break-word;
}

.sanddance-snapshots .description {
  font-weight: 100;
  word-break: break-word;
}

.sanddance-snapshots .thumbnail {
  display: grid;
  height: 160px;
  margin-top: 0.5em;
}

.sanddance-snapshots img {
  height: 100%;
  object-fit: contain;
  width: 100%;
}

.sanddance-snapshots .actions {
  display: grid;
  grid-auto-flow: column;
}

.sanddance-snapshots .actions a, .sanddance-snapshots .actions span {
  align-self: center;
  text-align: center;
}

.sanddance-snapshots .actions button {
  width: 100%;
}

.sanddance-snapshot-dialog .thumbnail {
  border: 1px solid rgba(0, 0, 0, 0.2);
  display: grid;
  height: 300px;
  margin-top: 1em;
}

.sanddance-snapshot-dialog img {
  height: 100%;
  object-fit: contain;
  width: 100%;
}

.dark-theme .sanddance-snapshots .snapshot {
  background-color: rgba(0, 0, 0, 0.6);
  border-color: rgba(255, 255, 255, 0.2);
}

.dark-theme .sanddance-snapshots .snapshot.selected {
  border-color: rgba(255, 255, 255, 0.6);
}

.dark-theme .sanddance-snapshots .snapshot:hover {
  background-color: black;
}

.dark-theme .sanddance-snapshots .actions a {
  color: #fff;
}

.dark-theme.sanddance-snapshot-dialog .thumbnail {
  border-color: rgba(255, 255, 255, 0.2);
}

.sanddance-history ol {
  padding-left: 20px;
}

.sanddance-history li {
  border: 1px solid transparent;
  cursor: pointer;
  padding: 2px;
}

.sanddance-history li.selected {
  font-weight: bold;
}

.sanddance-history li:hover {
  border-color: #0078d4;
}

.sanddance-note {
  background-color: #fffacd;
  border: 1px solid #333;
  box-shadow: 8px 8px 12px -6px #ccc;
  color: #333;
  margin: 1em;
  padding: 20px;
  position: absolute;
  width: 15em;
  word-break: break-word;
}

.sanddance-note .cancel {
  position: absolute;
  right: -1px;
  top: -1px;
}

.sanddance-note .cancel i {
  color: #333;
}

.sanddance-columnMap {
  position: relative;
}

.sanddance-columnMap .ms-Dropdown-container {
  margin-top: 10px;
}

.sanddance-columnMap .column-options {
  bottom: 3px;
  position: absolute;
  right: 0;
}

.sanddance-columnMap-absolute {
  margin-bottom: 1em;
  margin-left: -4em;
  margin-right: 1em;
  margin-top: -1em;
}

.sanddance-columnMap-absolute .ms-Dropdown-container {
  margin-top: 0;
}

.sanddance-tooltip {
  z-index: 2;
}

.sanddance-tooltipMap {
  margin-top: 10px;
}

.sanddance-dialog ul {
  margin: 0;
}
.sanddance-dialog section.tip, .sanddance-dialog section.schema {
  margin-top: 0px;
}
.sanddance-dialog section {
  margin-top: 1em;
}

.sanddance-dialog section:first-child {
  margin-top: 0;
}

.sanddance-dialog .tip {
  font-style: italic;
}

.sanddance-explorer {
  display: grid;
  font-family: "Segoe UI", sans-serif;
  font-size: 13px;
  grid-template-rows: 0fr auto;
}

.sanddance-explorer.dark-theme {
  background-color: black;
}

.sanddance-explorer.dark-theme canvas {
  background-color: black;
}

.sanddance-main {
  display: grid;
  position: relative;
  transition: grid-template-columns 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sanddance-main .loading {
  grid-row-end: span 2;
  position: relative;
}

.sanddance-main .loading .ms-Spinner {
  position: absolute;
  top: 50%;
  width: 100%;
}

.sanddance-main .sanddance-view {
  display: grid;
  position: relative;
  margin-left: 50px;
}

.sanddance-main .sanddance-layout-unpinned, .sanddance-main .sanddance-layout-pinned {
  position: absolute;
  top: 0;
  left: 50px;
  right: 150px;
  bottom: 0;
}

.sanddance-main.hide-legend .sanddance-layout-unpinned, .sanddance-main.hide-legend .sanddance-layout-pinned {
  right: 0;
}

.sanddance-main .sanddance-layout-pinned {
  left: 300px;
}

.sanddance-main .sanddance-ReactViewer {
  position: absolute;
  top: 0;
  left: -100px;
  bottom: 0;
  right: 0;
}

.sanddance-main.hide-legend .sanddance-ReactViewer {
  left: 0;
}

.sanddance-main.show-center .sanddance-layout-unpinned, .sanddance-main.show-center .sanddance-layout-pinned {
  background: linear-gradient(to right, transparent 49%, rgba(255, 0, 255, 0.2), transparent 51%);
  background-color: rgba(0, 255, 255, 0.1);
}

.sanddance-main.pinned {
  grid-template-columns: 300px auto;
  grid-template-areas: "side main";
}

.sanddance-main.pinned .sanddance-view {
  grid-area: main;
  margin-left: 0;
}

.sanddance-main.pinned .loading {
  grid-area: main;
  grid-row-end: unset;
}

.sanddance-main.pinned .sanddance-slidePanel {
  grid-area: side;
}

.sanddance-main.pinned.closed {
  grid-template-columns: 0 auto;
}

.sanddance-main.pinned.closed .sanddance-view {
  margin-left: 50px;
}

.sanddance-main span.ms-layer {
  display: none;
}

#sanddance-vega-spec {
  border: 1px inset;
  max-height: 20em;
  overflow: scroll;
}

.sanddance-panel {
  top: 5em;
  bottom: unset;
  overflow-y: unset;
  padding-right: 1em;
  padding-top: 32px;
}

.sanddance-panel h4,
.sanddance-panel .sanddance-vegaControls,
.sanddance-panel .sanddance-unitControls {
  display: none;
}

.sanddance-main.hide-legend .sanddance-panel {
  display: none;
}

.sanddance-panel-tools {
  position: absolute;
  top: 0;
  right: 0;
}

.sanddance-legend {
  min-width: 54px;
}

.sanddance-explanation {
  font-size: smaller;
  font-style: italic;
  margin-bottom: 1em;
}

.sanddance-explanation .fieldname,
.sanddance-explanation .fieldtype {
  font-style: italic;
}

.sanddance-signal {
  margin-top: 1em;
}

.sanddance-legend th {
  color: #005a9e;
  cursor: pointer;
}

.sanddance-legend th:hover {
  background-color: rgba(43, 136, 216, 0.3333333333);
}

.sanddance-legend .legend-row:hover {
  background-color: #0078d4;
  color: #fff;
}

.sanddance-dataExporter {
  margin-top: 1em;
}

.sanddance-form-separate {
  margin-top: 1em;
}

.dark-theme .sanddance-dialog a {
  color: #00b4f0;
}

.dark-theme .sanddance-panel {
  background-color: #000;
  color: #fff;
}

.dark-theme .sanddance-legend th {
  color: #3ac5f3;
}

.dark-theme .sanddance-legend th:hover {
  color: #009ed3;
}

/*# sourceMappingURL=sanddance-explorer.css.map */
.sanddance-sidebar .sanddance-datascope {
  min-height: 7em;
}

/*# sourceMappingURL=sanddance-app.css.map */
